:root {
  font-family: 'Montserrat', sans-serif;
  background-color: #192231;
}
h1 {
  color: #985e6d;
  font-size: 50px;
  font-family: 'Satisfy', cursive;
}
p {
  color: #98878f;
  font-size: 25px;
}