
/* Background animation */
/* body {
  background: -moz-linear-gradient(45deg, #1a01bc 0%, #ff0101 29%, #250045 66%, #1a01bc 100%);
  background: -webkit-linear-gradient(45deg, #1a01bc 0%,#ff0000 29%,#250045 66%,#1a01bc 100%);
  background: linear-gradient(45deg, #1a01bc 0%,#ff0000 29%,#250045 66%,#1a01bc 100%);
  background-size: 100% 20%;
  -webkit-animation: Gradient 25s ease infinite;
-moz-animation: Gradient 25s ease infinite;

animation: Gradient 25s ease infinite;
/* min-height: calc(100vh - 2rem); */
/* display: flex;
flex-direction: column;
align-items: stretch;
justify-content: space-evenly;
overflow: scroll;
scrollbar-width: none;

box-sizing: border-box;

} */ 
body {
	background: linear-gradient(-45deg,  #0e0068, #250045, #250045, #0e0068);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-webkit-keyframes Gradient {
0% {
  background-position: 0 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0 50%
}
}

@-moz-keyframes Gradient {
0% {
  background-position: 0 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0 50%
}
}

@keyframes Gradient {
0% {
  background-position: 0 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0 50%
}
}

@keyframes morph {
0% {
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
100% {
  border-radius: 40% 60%; } 
}

@keyframes spin {
to {
  transform: rotate(1turn); 
} 
}
.st0{display:none;}
.st1{display:inline;}
.st2{opacity:0.29;}
.st3{fill:#FFFFFF;}
.st4{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
.st5{clip-path:url(#SVGID_4_);}
.st6{clip-path:url(#SVGID_6_);}
.st7{clip-path:url(#SVGID_8_);}
.st8{clip-path:url(#SVGID_10_);}
.st9{fill:none;}
.st10{clip-path:url(#SVGID_12_);}
.st11{opacity:0.7;}
.st12{clip-path:url(#SVGID_14_);}
.st13{opacity:0.2;}
.st14{clip-path:url(#SVGID_16_);}
.st15{opacity:0.3;fill:#FFFFFF;enable-background:new    ;}
/* End of background animation */

* {
  color: white;
}
h1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 4em;
  letter-spacing: -2px;
  text-align: center;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}

h1:after {
  display: block;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Poiret One', sans-serif;
  font-size: .4em;
  text-align: center;
}

/* footer */

footer {
    position:relative;
    height: 50px;
    bottom: 80px;
    left: 0px;
    right: 0px;
    margin-top: 50px;
    margin-bottom: 0px;

}

/* Hero */
.hero-heading {
  position: relative;
  left: 74px;
  top: 353px;
  font-size: 53px;
  display: flex;
}
.hero-img {
  border-radius: 20%;
  box-shadow: 5px rgba(0, 0, 0, 0.3);
  border: black solid 2px;
  position: absolute;
  max-width: 100%;
  left: 1061px;
  top: 263px;
}

/* Nav bar */
.name {
  font-size: 62px;
}
.nav {
  font-size: 25px;
  float: right;
}
.nav:hover {
  border-bottom: #fff solid 2px;
  padding: 1px;
}

/* Portfolio page */
#portfolio {
  margin-top: 80px;
}
.description {
  margin-top: 20px;
  margin-bottom: 40px;
}

.item {
  border-radius: 10px;
  

}

.special_modal .modal-content {
  border-radius: 5%;
  background-color: rgba(0,0,0,.7);
  color: #fff;
}
/* about */
#about-me {
  margin: 80px;
}

/* Contact */
#contact-me {
  margin: 150px;
}
.btn-text {
  padding: 10px;
}
.btn-text:hover {
  border: white solid 2px;
  padding: 10px
}
