:root {
  font-family: 'Montserrat', sans-serif;
  background-color: #192231;
}
/* Navigation */
.name {
  color: #985e6d;
  font-size: 60px;
  font-family: 'Satisfy', cursive;
}
.nav {
  color: #98878f;
  font-size: 25px;
}
.nav4 {
  font-size: 25px;
  color: #494e6b;
}
/* Masthead */
header {
  background-color: #192231;
  color: #98878f;
}
header.masthead {
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
  /* background-attachment: scroll;
  background-position: center center;
  background-size: cover; */
}
.masthead-subheading {
  font-size: 50px;
  font-family: 'Satisfy', cursive;
}
.masthead-btn {
  color: #192231;
  background-color:#985e6d;
  margin-left: 400px;
  margin-right: 400px;
  font-size: 25px;
  border: none;
  
  
}
a:link {
  text-decoration: none;
}
/* Footer */
footer {
  background-color: #192231;
  color: #985e6d;
  font-size: 20px;
}
.change {
  color: #98878f;
  font-size: 25px;
}