:root {
  font-family: 'Montserrat', sans-serif;
}
.name {
  background-color: #985e6d;
  text-align: center;
  margin: 10px;
  color: white;
}
h1 {
  font-family: 'Satisfy', cursive;
  padding: 10px;
}
ul {
  list-style: none;
  
}