:root {
  font-family: 'Montserrat', sans-serif;
  background-color: #192231;
}
html {
  scroll-padding-top: 120px;
}
/* Navigation */
.navbar {
  background-color: #192231;
}
.name {
  color: #985e6d;
  font-size: 50px;
  font-family: 'Satisfy', cursive;
}
.nav {
  color: #98878f;
  font-size: 20px;
  
}
.nav4 {
  font-size: 20px;
  color: #494e6b;
}
/* Masthead */
header {
  background-color: #192231;
  color: #98878f;
  
}
header.masthead {
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
}
.masthead-subheading {
  font-size: 50px;
  font-family: 'Satisfy', cursive;

}
.masthead-btn {
  color: #192231;
  background-color:#985e6d;
  margin-left: 400px;
  margin-right: 400px;
  font-size: 25px;
}
.masthead-body {
  color: #985e6d;
  border: #494e6b solid 5px;
  padding: 5px;
  margin-left: 500px;
  margin-right: 500px;
  
}
a:link {
  text-decoration: none;
}
.masthead-body:hover {
  border:#98878f solid 5px;
}
/* Footer */
footer {
  background-color: #192231;
  color: #985e6d;
  font-size: 20px;
}
.change {
  color: #98878f;
  font-size: 25px;
}
.copy {
  font-size: 15px;
}
/* Portfolio */
#portfolio {
  background-color: #192231;
}
.box {
  background-color:#494e6b;
  margin-left: 100px;
  margin-right: 100px;
  border: #494e6b solid 15px;
}
.title{
  font-family: 'Satisfy', cursive;
  color: #985e6d;
}
.description {
  color: #98878f;
  font-weight:300;
  font-size: 18px;
  padding-bottom: 20px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin-left: auto;
  margin-right: auto;
}
.box {
  position: relative;
}
.img{
  display: block;
}
.plus {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
/* About */
#about-me {
  background-color: #192231;
}
.about-con {
  background-color: #985e6d;
  padding-top: 15px;
}
.about-box {
  background-color:#985e6d;
  margin-left: 100px;
  margin-right: 100px;
  border-bottom: #192231 solid 25px;
  border-top: #192231 solid 25px;
}
.about-title {
  font-family: 'Satisfy', cursive;
  color: #494e6b;
}